{% load static %}



<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Appointments</title>

	<link rel="stylesheet" href="{% static 'core/css/style/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/appointments.css' %}">


	<link rel="stylesheet" href="{% static 'core/style2.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
	<style>
		label {
			/* display: block; */
			margin-bottom: 8px;
			color: #333;
			font-weight: bold;
		}

		input[type="text"] {
			width: 30%;
			padding: 10px;
			margin-bottom: 16px;
			box-sizing: border-box;
			border: 1px solid #ccc;
			border-radius: 4px;
			font-size: 14px;
		}

		input[type="text"]:focus {
			outline: none;
			border-color: #4caf50;
		}

		button {
			background-color: #4caf50;
			color: #fff;
			padding: 12px 20px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			font-size: 16px;
			transition: background-color 0.3s ease;
		}

		button:hover {
			background-color: #45a049;
		}

		p {
			color: #888;
			margin-top: 8px;
		}
	</style>

</head>
{% include 'core/navbar.html' %}


<body>
	{% block content %}
	<div class="container">

		<div class="appointments" style="margin-top: 22% !important;">
			<!-- Search bar -->
			<form action="{% url 'appointments' %}" method="GET">
				<label for="searchNameInput">Search by Name:</label>
				<input type="text" id="searchNameInput" name="search_name" value="{{ search_name_query }}">

				<label for="searchDateInput">Search by Date:</label>
				<input type="text" id="searchDateInput" name="search_date" value="{{ search_date_query }}">

				<button type="submit">Search</button>
				{% if no_results %}
				<p style="color: #333;">No results found.</p>
				{% endif %}

				{% if search_name_query or search_date_query %}
				<a href="{% url 'appointments' %}"><button type="button">Clear</button></a>
				{% endif %}
			</form>


			{% if search_name_query %}
			<p>Showing results for "{{ search_name_query }}".</p>
			{% endif %}
			{% if search_date_query %}
			<p>Showing results for "{{ search_date_query }}".</p>
			{% endif %}

			<h1 class="my-5" style="background-color: #af3535; color: aliceblue; padding: 5px; text-align: center;">
				Reservations
			</h1>


			{% if pending_appointments %}
			<table class="table mb-5">
				<thead class="thead-dark">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Full Name</th>
						<th scope="col">Service</th>
						<th scope="col">Staff</th>
						<th scope="col">Reserved Slots</th>
						<th scope="col">Total Price</th>
						<th scope="col">Date</th>
						<th scope="col">Delivery Status</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for appointment in pending_appointments %}
					{% if appointment.status != 'Delivered' %}
					<tr>
						<th scope="row">{{ forloop.counter }}</th>
						<td>{{ appointment.your_name }}</td>
						<td>{{ appointment.your_service.name }}</td>
						<td>
							{% with appointment.staff as appointment_staff %}
							{{ appointment_staff.name }}
							{% endwith %}
						</td>
						<td style="text-align: center;">{{ appointment.number_of_people }}</td>

						<td>
							Ksh. {{ appointment.your_service.price|floatformat:2 }}
						</td>




						<!-- Display the service price -->
						</td>
						<td>{{ appointment.your_date }}</td>
						<td style="text-align: center;">
							<div
								style="display: inline-block; background-color: #d99a0a; border-radius: 4%; padding: 10px 20px; width: 50%;">
								<i class="fas fa-hourglass-half" style="color: aliceblue;"></i>
							</div>
						</td>
						<td>
							<div class="custom-modal-btn">
								<form id="cancelForm{{ appointment.id }}" method="post"
									action="{% url 'deleteAppointment' appointment.id %}" style="display: inline;">
									{% csrf_token %}
									<button type="button" onclick="showCustomCancellationDialog('{{ appointment.id }}')"
										class="custom-cancel-btn">Cancel</button>
								</form>
							</div>
						</td>
						<div id="custom-cancellation-dialog{{ appointment.id }}" class="custom-modal"
							style="display: none;">
							<div class="custom-modal-content">
								<p>Are you sure you want to cancel this appointment?</p>
								<p class="custom-warning-text">Please note that cancellation is irreversible, and you
									will need to make a new appointment!</p>
								<p class="custom-contact-admin-text">If you encountered any issues or need assistance,
									contact the
									<a href="/contact-admin">administrator</a> for assistance.
								</p>
								<button class="custom-confirm-btn"
									onclick="confirmCustomCancellation('{{ appointment.id }}')">Confirm</button>
								<button class="custom-cancel-btn"
									onclick="cancelCustomCancellation('{{ appointment.id }}')">Cancel</button>
							</div>
						</div>
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<table class="table mb-5">
				<thead class="thead-dark">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Full Name</th>
						<th scope="col">Service</th>
						<th scope="col">Staff</th>
						<th scope="col">Reserved Slots</th>
						<th scope="col">Date</th>
						<th scope="col">Delivery Status</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="8" style="text-align: center;">No Reservations, <a
								href="{% url 'bookappointment' %}" class="book-appointment-link">book now!</a>
						</td>
					</tr>
				</tbody>
			</table>

			{% endif %}
		</div>


		<div class="appointments" style="margin-top: 8% !important;">
			<h1 class="my-5" style="background-color: #2d7128; color: aliceblue; padding: 5px; text-align: center;">
				History Log</h1>
			<table class="table mb-5">
				<thead class="thead-dark">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Full Name</th>

						<th scope="col">Service</th>
						<th scope="col">Staff</th>
						<th scope="col">Reserved Slots</th>
						<th scope="col">Date</th>
						<th scope="col">Delivery Status</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for appointment in delivered_appointments %}
					{% if appointment.status != 'Pending' %} {# Filter only pending appointments #}
					<tr>
						<th scope="row">{{ forloop.counter }}</th>
						<td>{{ appointment.your_name }}</td>

						<td>{{ appointment.your_service.name }}</td>
						<td>
							{% with appointment.staff as appointment_staff %}
							{{ appointment_staff.name }}
							{% endwith %}
						</td>
						<td style="text-align: center;">{{ appointment.number_of_people }}</td>

						<td>{{ appointment.your_date }}</td>
						<td style="text-align: center;">
							<div
								style="display: inline-block; background-color: rgb(76, 151, 47); border-radius: 4%; padding: 3px; width: 50%;">
								<i class="fas fa-check-circle" style="color: aliceblue;"></i>
								<!-- Use a checkmark icon for "Delivered" -->
							</div>
						</td>

						<td>
							<a href="#"
								style="display: inline-block; background-color: #d99a0a; color: #fff; text-decoration: none; padding: 5px 10px; border-radius: 5px;">Share
								Your Experience</a>
						</td>

					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>
	{% include 'core/blog.html' %}

	{% include 'core/footer.html' %}

	<script src="{% static 'core/js/jquery.js' %}"></script>
	<script src="{% static 'core/js/popper.js' %}"></script>
	<script src="{% static 'core/js/all.min.js' %}"></script>
	<script src="{% static 'core/js/bootstrap.js' %}"></script>

	<script src="{% static 'core/js/main.js' %}"></script>

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			// Select all "Cancel" buttons and add a click event listener to each
			var cancelButtons = document.querySelectorAll(".custom-cancel-btn");
			cancelButtons.forEach(function (button) {
				button.addEventListener("click", function (event) {
					var appointmentId = event.target.getAttribute("data-appointment-id");
					showCustomCancellationDialog(appointmentId);
				});
			});

			// Select all "Confirm" buttons in the cancellation dialogs and add click event listener
			var confirmButtons = document.querySelectorAll(".custom-confirm-btn");
			confirmButtons.forEach(function (button) {
				button.addEventListener("click", function (event) {
					var appointmentId = event.target.getAttribute("data-appointment-id");
					confirmCustomCancellation(appointmentId);
				});
			});
		});
		function showCustomCancellationDialog(appointmentId) {
			var modal = document.getElementById("custom-cancellation-dialog" + appointmentId);
			modal.style.display = "block";
		}

		function closeCustomCancellationDialog(appointmentId) {
			var modal = document.getElementById("custom-cancellation-dialog" + appointmentId);
			modal.style.display = "none";
		}

		function confirmCustomCancellation(appointmentId) {
			var form = document.getElementById('cancelForm' + appointmentId);
			if (form) {
				form.submit();
			}
		}

		function cancelCustomCancellation(appointmentId) {
			var modal = document.getElementById("custom-cancellation-dialog" + appointmentId);
			modal.style.display = "none";
		}

	</script>

	<script>
		$(function () {
			$(window).scroll(function () {
				if ($(document).scrollTop() > 60) {
					$(".main-nav").addClass("sticky")
				} else {
					$(".main-nav").removeClass("sticky")
				}
			});
			$("#goTop").click(function () {
				$("html,body").animate({
					scrollTop: 0
				}, "slow");
				return false
			});
			$(window).scroll(function () {
				if ($(this).scrollTop() > 300) {
					$("#goTop").addClass("active")
				} else {
					$("#goTop").removeClass("active");
					return false
				}
			}).scroll()
		});
	</script>

</body>

</html>

{% endblock content %}