<p><span class="bold-text">Arrival Instructions:</span> Upon arrival, check in at our front desk, and our
    friendly staff will guide you to your appointment.</p>

<p><span class="bold-text">Parking Information:</span> Complimentary valet parking is available for all
    spa guests.</p>

<p><span class="bold-text">Cancellation Policy:</span> We understand that plans can change. Please notify
    us at least 24 hours in advance if you need to cancel or reschedule your appointment.</p>

<p><span class="bold-text">Special Requests:</span> Your comfort and satisfaction are important to us, so
    please inform us of any preferences, allergies, or sensitivities.</p>

<p><span class="bold-text">Payment:</span> Payment for your spa session can be made using M-Pesa at the
    end of your appointment.</p>

<p><span class="bold-text">RSVP:</span> To confirm your attendance or reschedule your appointment, please
    reply to this invitation or contact us as soon as possible.</p>


<style>
    .bold-text {
        font-weight: bold;
    }
</style>